
---
layout: ""
page_title: "Provider: NXOS"
description: |-
  The NXOS provider provides resources to interact with one or more Cisco NX-OS devices.
---

# NXOS Provider

The NXOS provider provides resources to interact with one or [more](https://registry.terraform.io/providers/netascode/nxos/latest/docs/guides/manage_multiple_devices) Cisco NX-OS devices.

It communicates with NX-OS devices via the NX-API REST, which requires the following device configuration.

```
feature nxapi
```

## Example Usage

{{tffile "examples/provider/provider.tf"}}

{{ .SchemaMarkdown | trimspace }}