
---
layout: ""
page_title: "Provider: NXOS"
description: |-
  The NXOS provider provides resources to interact with a Cisco NX-OS device.
---

# NXOS Provider

The NXOS provider provides resources to interact with a Cisco NX-OS device.

## Example Usage

{{tffile "examples/provider/provider.tf"}}

{{ .SchemaMarkdown | trimspace }}